* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listStyle {
  background-color: grey;
  margin: 5vh 10vw;
  text-align: center;
}

.überschrift {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  padding: 5vh 0;
}

.toDo {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  background-color: green;
}

.notTodo {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  background-color: red;
}